<!doctype html>
<html>
<head>
  {% include "_preflight-css" %}
  {{ content_for_header }}
</head>

<body style="position: relative;">
  {% include "_global-content" %}

  |||GLOBAL_SECTIONS_ABOVE_LAYOUT|||

  <div style="opacity: 0">
    {{ content_for_layout }}
  </div>

  |||GLOBAL_SECTIONS_BELOW_LAYOUT|||

  {% if request.design_mode == false %}
    <iframe id="theme-editor"
            style="
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            inset: 0;
            z-index: 10;
            min-height: 100vh"
            src="|||DEPLOYMENT_URL|||{{ request.path }}"
            frameborder="0">
    </iframe>
  {% endif %}

  {% if request.design_mode %}
    <iframe id="theme-editor"
            style="
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            inset: 0;
            z-index: 10;
            min-height: 100vh"
            src="|||DEPLOYMENT_URL|||{{ request.path }}"
            frameborder="0">
    </iframe>

    <script>
      const sessionUrl = sessionStorage.getItem('shopify-cms-url') ?? "|||DEVELOPMENT_URL|||"
      const themeEditorIframe = document.getElementById("theme-editor");
      themeEditorIframe.setAttribute('src', `${sessionUrl}{{ request.path }}`)

      document.addEventListener('DOMContentLoaded', () => {
        let isInspectorMode = false;
        let global = JSON.parse(document.querySelector("[data-global]").textContent);
        let sections = [...document.querySelectorAll("[data-section]")].map((scriptElement) => JSON.parse(scriptElement.textContent));
        let sectionSizes = [];

        if (sessionUrl === `|||DEVELOPMENT_URL|||`) {
          fetch('|||DEVELOPMENT_URL|||{{ request.path }}').catch(err => {
            themeEditorIframe.setAttribute('src', '|||DEPLOYMENT_URL|||{{ request.path }}');
            sessionStorage.setItem('shopify-cms-url', `|||DEPLOYMENT_URL|||`)
          });
        }

        if (sessionUrl !== `|||DEVELOPMENT_URL|||`) {
          fetch('|||DEVELOPMENT_URL|||{{ request.path }}').then((e) => {
            themeEditorIframe.setAttribute('src', '|||DEVELOPMENT_URL|||{{ request.path }}');
            sessionStorage.setItem('shopify-cms-url', `|||DEVELOPMENT_URL|||`)
          }).catch(err => {
            sessionStorage.setItem('shopify-cms-url', `|||DEPLOYMENT_URL|||`)
          });
        }


        themeEditorIframe.addEventListener('load', (e) => {
          themeEditorIframe?.contentWindow.postMessage({
              source: "theme-editor",
              topic: "activateThemeEditor",
              global,
              sections
            },
            "*",
          );
        });


        const resizeSections = () => {
          sectionSizes.forEach(({ id, height, blocks }) => {
            const sectionElement = document.getElementById(`shopify-section-${id}`);
            if (sectionElement) {
              sectionElement.style.position = 'static';
              sectionElement.style.height = `${height}px`;
            }
            blocks?.forEach(({ id, rect }) => {
              const blockElement = document.getElementById(`block--${id}`);
              if (blockElement && rect) {
                blockElement.style.width = rect.width + "px";
                blockElement.style.height = rect.height + "px";
                blockElement.style.top = rect.top + "px";
                blockElement.style.left = rect.left + "px";
                blockElement.style.bottom = rect.bottom + "px";
                blockElement.style.right = rect.right + "px";
              }
            });
          });
        };

        const sendSectionData = (e) => {
          themeEditorIframe?.contentWindow.postMessage({
              source: "theme-editor",
              topic: e?.type,
              global,
              sections,
              detail: e?.detail,
            },
            "*",
          );
        };

        const shopifyEvents = [
          'shopify:inspector:activate',
          'shopify:inspector:deactivate',
          'shopify:section:load',
          'shopify:section:unload',
          'shopify:section:select',
          'shopify:section:deselect',
          'shopify:section:reorder',
          'shopify:block:select',
          'shopify:block:deselect',
        ];

        /*= =============== SEND UPDATES ================ */
        shopifyEvents.forEach(eventName => {
          document.addEventListener(eventName, (event) => {
            if (eventName === 'shopify:inspector:activate') {
              isInspectorMode = true;
              themeEditorIframe.style.zIndex = -10;
              resizeSections();
            }
            if (eventName === 'shopify:inspector:deactivate') {
              isInspectorMode = false;
              themeEditorIframe.style.zIndex = 10;
            }
            setTimeout(() => {
              global = JSON.parse(document.querySelector("[data-global]").textContent);
              sections = [...document.querySelectorAll("[data-section]")].map((scriptElement) => JSON.parse(scriptElement.textContent));
              sendSectionData(event);
            }, 15);

          });
        });

        /*= =============== RECEIVE UPDATES ================ */
        window.addEventListener('message', (e) => {
          if (e?.data?.source !== "theme-content") return;

          switch (e.data.topic) {
            case "resize" : {
              sectionSizes = e.data.sectionSizes;
              if (isInspectorMode) {
                resizeSections();
              }
              break;
            }
            case "set-iframe": {
              resizeSections();
              break;
            }
            case "redirect": {
              window.location.href = window.location.origin + e.data.href;
              break;
            }
          }
        });

      });
    </script>

  {% endif %}


</body>
</html>

