<!doctype html>
<html>
<head>
  {% include "_preflight-css" %}
  {{ content_for_header }}
</head>

<body style="position: relative;">
  {% section "global-settings" %}

  |||GLOBAL_SECTIONS_ABOVE_LAYOUT|||

  <div style="opacity: 0">
    {{ content_for_layout }}
  </div>

  |||GLOBAL_SECTIONS_BELOW_LAYOUT|||

  {% assign path = request.path %}
  {% if path == '/' %}
    {% assign path = "" %}
  {% endif %}

  {% if request.design_mode == false %}
    <iframe data-theme-editor-production
            style="
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            inset: 0;
            z-index: 10;
            min-height: 100vh"
            allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
            sandbox="allow-forms allow-modals allow-orientation-lock allow-popups allow-pointer-lock	 allow-presentation allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-downloads allow-top-navigation allow-top-navigation-by-user-activation"
            src="|||DEPLOYMENT_URL|||{{ path }}"
            frameborder="0">
    </iframe>
  {% endif %}

  {% if request.design_mode %}
    <iframe data-theme-editor-development
            style="
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            inset: 0;
            z-index: 10;
            opacity: 0;
            pointer-events: none;
            min-height: 100vh"
            allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
            sandbox="allow-forms allow-modals allow-orientation-lock allow-popups allow-pointer-lock	 allow-presentation allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-downloads allow-top-navigation allow-top-navigation-by-user-activation"
            src="|||DEVELOPMENT_URL|||{{ path }}"
            frameborder="0">
    </iframe>
    <iframe data-theme-editor-production
            style="
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            inset: 0;
            z-index: 10;
            min-height: 100vh"
            allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
            sandbox="allow-forms allow-modals allow-orientation-lock allow-popups allow-pointer-lock	 allow-presentation allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-downloads allow-top-navigation allow-top-navigation-by-user-activation"
            src="|||DEPLOYMENT_URL|||{{ path }}"
            frameborder="0">
    </iframe>

    <script>
      let themeEditorIframe = document.querySelector('[data-theme-editor-production]')
      let themeEditorIframeDevelopment = document.querySelector('[data-theme-editor-development]')

      themeEditorIframeDevelopment.addEventListener('load', (e) => {
        console.log(e, 'loaded devleopment')
        themeEditorIframe.remove();
        themeEditorIframeDevelopment.style.opacity = '1'
        themeEditorIframeDevelopment.style.pointerEvents = 'auto'
        themeEditorIframe = themeEditorIframeDevelopment;
        initThemeEditor();
      })
      themeEditorIframeDevelopment.addEventListener('error', (e) => {
        console.log(e, 'error development')
        themeEditorIframeDevelopment.remove();
        initThemeEditor();
      })

     const initThemeEditor = () => {

        let isInspectorMode = false;
        let sectionSizes = [];

        const JSONParse = (object) => {
          try {
            return JSON.parse(object);
          } catch (err) {
            if (err && typeof err === "object" && "message" in err) {
              console.log(err?.message);
            }

            return {};
          }
        };

        const parseShopifyData = (document) => {
          const globalSectionScripts = document.querySelector("[data-global]")?.textContent;
          const global = globalSectionScripts ? JSONParse(globalSectionScripts) : {};
          const sections = {};
          const sectionOrder = [];
          const globalSections = {};

          document.querySelectorAll("[data-section]").forEach((scriptElement) => {
            const section = JSONParse(scriptElement?.textContent ?? "");
            if (section.global) {
              globalSections[section.id] = section;
            }
            if (!section.global) {
              sections[section.id] = section;
            }
            sectionOrder.push(section.id);
          });

          return {
            ...global,
            linklists: global.linklists?.filter((linklist) => linklist),
            globalSections,
            sections,
            sectionOrder,
          };
        };

        themeEditorIframe.addEventListener('load', (e) => {
          themeEditorIframe?.contentWindow.postMessage({
              source: "theme-editor",
              topic: "activateThemeEditor",
              themeData: parseShopifyData(document)
            },
            "*",
          );
        });


        const resizeSections = () => {
          sectionSizes.forEach(({ id, height, blocks }) => {
            const sectionElement = document.getElementById(`shopify-section-${id}`);
            if (sectionElement) {
              sectionElement.style.position = 'static';
              sectionElement.style.height = `${height}px`;
            }
            blocks?.forEach(({ id, rect }) => {
              const blockElement = document.getElementById(`block--${id}`);
              if (blockElement && rect) {
                blockElement.style.width = rect.width + "px";
                blockElement.style.height = rect.height + "px";
                blockElement.style.top = rect.top + "px";
                blockElement.style.left = rect.left + "px";
                blockElement.style.bottom = rect.bottom + "px";
                blockElement.style.right = rect.right + "px";
              }
            });
          });
        };

        const sendThemeData = (e) => {
          themeEditorIframe?.contentWindow.postMessage({
              source: "theme-editor",
              topic: e?.type,
              detail: e?.detail,
              themeData: parseShopifyData(document)
            },
            "*",
          );
        };

        const shopifyEvents = [
          'shopify:inspector:activate',
          'shopify:inspector:deactivate',
          'shopify:section:load',
          'shopify:section:unload',
          'shopify:section:select',
          'shopify:section:deselect',
          'shopify:section:reorder',
          'shopify:block:select',
          'shopify:block:deselect',
        ];

        /*= =============== SEND UPDATES ================ */
        shopifyEvents.forEach(eventName => {
          document.addEventListener(eventName, (event) => {
            if (eventName === 'shopify:inspector:activate') {
              isInspectorMode = true;
              themeEditorIframe.style.zIndex = -10;
              resizeSections();
            }
            if (eventName === 'shopify:inspector:deactivate') {
              isInspectorMode = false;
              themeEditorIframe.style.zIndex = 10;
              resizeSections()
            }
            setTimeout(() => {
              sendThemeData(event);
              resizeSections()
            }, 15);

          });
        });

        /*= =============== RECEIVE UPDATES ================ */
        window.addEventListener('message', (e) => {
          if (e?.data?.source !== "theme-content") return;

          switch (e.data.topic) {
            case "resize" : {
              sectionSizes = e.data.sectionSizes;
              resizeSections()
              break;
            }
            case "set-iframe": {
              resizeSections();
              break;
            }
            case "redirect": {
              window.location.href = window.location.origin + e.data.href;
              break;
            }
          }
        });
      }
    </script>

  {% endif %}


</body>
</html>

